/**************************Font Face Formatting*************************/

/*   Font face key
    font-family: "Varela Round", sans-serif;
*/

/*Varela Round*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/**************************End of Font Face Formatting*************************/

/**************************General Formatting*************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body Formatting*/
body {
    background-image: url(../images/snakeGame.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*Web container formatting*/
#webContainer {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

/*Root Formatting*/
:root {
    --primary-font-family: "Varela Round", sans-serif;
    --primary-font-color: white;
    --primary-font-size: 1.2rem;
}

/**************************End of General Formatting*************************/

/**************************Section Formatting*************************/

/*Format header*/
header {
    text-align: center;
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Format row*/
.row {
    justify-content: center;
}

/*Format cards*/

/*Center card content*/
.card {
    text-align: center;
}

/*Format card title*/
.card .card-title {
    font-size: 1.7rem;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    letter-spacing: 2px;
}

/*Format card text*/
.card .card-text {
    font-family: var(--primary-font-family);
    letter-spacing: 2px;
}

/*Format card buttons*/
.card .btn-primary {
    border: 2px solid blue;
    border-radius: 100px;
    background-color: transparent;
    color: blue;
}

/**Rules Formatting**/

/*Create rules container*/
.rulesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 10px;
}

/*Format ol list*/
ol {
    font-family: var(--primary-font-family);
    letter-spacing: 2px;
    line-height: 2;
    font-size: var(--primary-font-size);
    margin: 10px;
    color: white;
}

/*Format list items*/
ol li {
    margin-bottom: 10px;
}

/*Format list heading*/
ol .listHeading {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.5rem;
}

/*Format button container*/
.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

/*Format button links*/
.btnContainer a {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid lightblue;
    border-radius: 100px;
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    font-size: 1.1rem;
    color: var(--primary-font-color);
    background-color: black;
    letter-spacing: 2px;
}

/*Format score text*/
#score {
    font-family: var(--primary-font-family);
    letter-spacing: 2px;
    line-height: 2;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

/*Format canvas container*/
#gameBoard {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/*Format game controls container*/
.gameControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

/*Format game control buttons*/
.gameControls button {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: none;
    border-radius: 100px;
    background-color: lightblue;
    font-family: var(--primary-font-family);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1rem;
}

/*Format table container*/
.leaderboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    overflow: auto;
}

/*Format table */
table {
    font-family: var(--primary-font-family);
    letter-spacing: 2px;
    line-height: 2;
    font-size: var(--primary-font-size);
    color: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

/*Format table heading*/
.tableHeader {
    background-color: darkgreen !important;
    color: whtie;
    border: 2px solid lightblue;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: left;
}

/*Format table rows*/
tr {
    border: 2px solid lightblue;
    text-align: left;
}

/*Make table cells have a alternating background color*/
tr:nth-child(even) {
    background-color: black;
}

tr:nth-child(odd) {
   background-color: darkgreen;
}



/*Footer Formatting*/
footer {
    text-align: center;
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**************************End of Section Formatting*************************/